@import "./styles/theme-styles.scss";

.app {
  background-color: $gray-4;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.2;
  color: $gray-1;
  .appContainer {
    width: 70%;
  }
}
